body {
	background-repeat: no-repeat;
	background-size:cover;
}
#heading {
	font-size:3em;
	text-align:center;
}

.popover {
	text-align:center;
	font-size: 1.2em;
	background: #ccffef;
}
.time_display {
	border-radius: 10px;
	text-align:center;
	font-size:10em;
	border:0px;
	background: AliceBlue;
	width: 18%;
	height:100%;
	transition: background 0.1s;
}
#time_container {
	position:absolute;
	top:27vh;
	height:auto;
	text-align:center;
}
#btns_ctrl {
	text-align:center;
}
.control_btn {
	font-size: 5em;
	color:blue;
	transition: display 1s;
}
.control_btn:hover {
	cursor:pointer;
	color:navy;
}
#min {
	margin-left: 1rem;
	margin-right: 1rem;
}
.hide_btn {
	display:none;
}